:root {
    --black-bkg: #222222;
    --pink-bkg: #f1e4e6;
    --pink-color: #f18b99;
    --sales-bkg: #4e4544;
    --text-color: #ffffff;
    --item-bkg: #f8f8f8;
    --price-color: #f16d7f;
    --product--bkg: #e5e5e5;
    --item-color: #6F6E6E;
    --overlay-bkg: #3a3838;
    --buton-bkg: #f16d7f;
    --email-bkg: #E1E1E1;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);
}

.header__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header__burger:focus+.header__nav {
    display: block;
}

.header__link {
    margin: 0 0 0 33px;
}

.header__nav {
    position: absolute;
    background: white;
    display: none;
    width: 232px;
    height: 764px;
    margin-left: 100px;
    margin-top: 23px;
}

.header__nav-tetle {
    font-weight: 700;
    padding: 37px 143px 24px 34px;
    text-transform: uppercase;
}

.nav-item__title {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--price-color);
    padding: 0 0 12px 33px;
}

.nav-item__item {
    font-weight: 400;
    padding: 0 0 11px 55px;
    text-transform: capitalize;
    color: var(--item-color);
}

.brand {
    display: flex;
}

.brand_img {
    height: 764px;
    width: 800px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid #f18b99;
}

.barnd_title-lower {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.barnd_title-pink {
    color: var(--pink-color);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales {
    margin-top: 65px;
}

.sales__item {
    height: 260px;
    width: 360px;
    background-color: var(--sales-bkg);
    margin-bottom: 30px;
}

.sales__item-text {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: var(--text-color);
    padding-top: 105px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.sales__item-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--pink-color);
    text-transform: uppercase;
}

.sales__item-women {
    background-image: url(../index/img/woman-sales.jpg);
}

.sales__item-men {
    background-image: url(../index/img/man-sales.jpg);
}

.sales__item-kids {
    background-image: url(../index/img/kid-sales.jpg);
}

.sales__item-accersories {
    background-image: url(../index/img/accesories-sales.jpg);
    width: 100%;
}

.product__weeks {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
}

.product__title {
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 6px;
}

.product__sub-title {
    font-weight: 400;
    line-height: 17px;
}

.product__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    height: 581px;
    width: 360px;
    background-color: var(--item-bkg);
    margin-bottom: 30px;
    position: relative;
}

.product__item-overlay::before {
    content: '';
    width: 100%;
    min-height: 420px;
    background: var(--overlay-bkg);
    position: absolute;
    top: 0;
    opacity: 0.7;
}

.product__item-overlay::before {
    display: none;
}

.product__item-overlay-buuton {
    width: 138px;
    height: 43px;
    position: absolute;
    margin: 188px 111px 188px 111px;
    border: 1px solid white;
    background: var(--overlay-bkg);
    opacity: 0.7;
    display: none;
}

.product__item:hover .product__item-overlay-buuton {
    display: block;
}

.product__item:hover .product__item-overlay::before {
    display: block;
}

.overlay-buuton-text {
    font-weight: 400;
    color: var(--text-color);
}

.product__item-title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 25px 193px 13px 18px;
}

.product__item-text {
    font-weight: 300;
    line-height: 17px;
    padding: 0 12px 18px 16px;
}

.pruduct__item-price {
    font-size: 16px;
    line-height: 19px;
    color: var(--price-color);
    padding: 0 289px 20px 18px;
}

.button__product {
    border: 1px solid #FF6A6A;
    background-color: var(--product--bkg);
    text-align: center;
    height: 47px;
    width: 211px;
    margin: 48px 465px 95px 464px;
}

.button__product:hover {
    background: var(--buton-bkg);
}

.button__product:hover .button__product-text {
    color: var(--text-color);
}

.button__product-text {
    font-size: 16px;
    line-height: 19px;
    color: var(--price-color);
    text-transform: capitalize;
}

.advanteg {
    background-color: var(--black-bkg);
    min-height: 341px;
}

.advanteg__list {
    display: flex;

}

.advanteg__item {
    justify-content: center;
    height: 134px;
    width: 360px;
    text-align: center;
    padding: 103px 0 104px 0;
}

.advanteg__item-img {
    padding: 0 157px 28px 158px;
}

.advanteg__item-title {
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    text-transform: capitalize;
}

.advanteg__item-text {
    font-weight: 300;
    line-height: 17px;
    color: var(--text-color);
    padding: 16px 30px 104px 0;
}

.subscription {
    background-image: url(../index/img/background-footer.jpg);
    background-size: cover;
    height: 448px;
}

.subscription__wrp {
    display: flex;
    justify-content: space-between;
}

.subscription__woman {
    padding: 86px 340px 126px 0;
}

.subscription__woman-img {
    padding: 0 117px 10px 115px;
}

.subscription__woman-text {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.subscription__news {
    margin: 156px 0 0 0;
}

.subscription__news-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
}

.subscription__news-text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.subscription__email {
    height: 43px;
    width: 256px;
    left: 917px;
    top: 243px;
    margin-right: -7px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: var(--email-bkg);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
}

.subscription__button {
    height: 45px;
    width: 100px;
    left: 1173px;
    top: 243px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--text-color);
    background: var(--buton-bkg);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
}

.info {
    background-color: var(--black-bkg);
    height: 79px;
}

.info-wrp {
    display: flex;
    justify-content: space-between;
}

.info__text {
    color: var(--text-color);
    padding-top: 30px;
    font-size: 16px;
    line-height: 19px;
}

.info__list {
    display: flex;
    padding-top: 24px;
}

.info__item {
    padding-left: 8px;
}

.info__facbock {
    display: block;
    position: relative;
}

.info__facbock-img {
    fill: white;
}

.inside-f {
    position: absolute;
    margin-top: 8px;
    margin-left: -20px;
}

.info__facbock-img:hover {
    fill: #F16D7F;
}

.info__instogram {
    display: block;
    position: relative;
}

.info__instogram-im {
    fill: white;
}

.inside-i {
    position: absolute;
    margin-top: 8px;
    margin-left: -24px;
}

.info__instogram-im:hover {
    fill: #F16D7F;
}

.info__p {
    display: block;
    position: relative;
}

.inside-p {
    position: absolute;
    margin-top: 8px;
    margin-left: -23px;
}

.info__twiter {
    display: block;
    position: relative;
}

.inside-t {
    position: absolute;
    margin-top: 8px;
    margin-left: -23px;
}