$black-bkg: #222222;
$pink-bkg: #f1e4e6;
$pink-color: #f18b99;
$sales-bkg: #4e4544;
$text-color: #ffffff;
$item-bkg: #f8f8f8;
$price-color: #f16d7f;
$product--bkg: #e5e5e5;
$item-color: #6F6E6E;
$overlay-bkg: #3a3838;
$buton-bkg: #f16d7f;
$email-bkg: #E1E1E1;
$border-bkg: #A4A4A4;
$border-color: #A4A4A4;